{% extends "main/mainviews/accueil.html" %}
{% block content %}



<table class="table table-hover table-dark">
 
    <tr>

        <th>Details</th>
        <th>Name</th>
        <th>Type du bien</th>
        <th>Adresse du bien</th>
        <th>Description du bien</th>
        <th>Action</th>

    </tr>


   {% for row in bien %}
    <tr>
        <td><a href="/showBien/{{row.id}}" class="btn btn-success btn-xs">Details</a></td>
        <td>{{row.name}}</td>
        <td>{{row.typeBien}}</td>
        <td>{{row.adresse}}</td>
        <td>{{row.descriptionBien}}</td>

        <td>
            <a href="/updateBien/{{row.id}}" class="btn btn-warning btn-xs">Edit</a>
            <a href="/deleteBien/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>


        </td>

    </tr>
    {% endfor %}

{%endblock%}