{% extends "base.html" %}
{% block content %}
<div class="col-md-6">
    {% for message in get_flashed_messages() %} 
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}  
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form.email.label }}</span>
            {{ form.email() }}
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form.password.label }}</span>
            {{ form.password() }}
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ form.remember_me.label }}</span>
            {{ form.remember_me() }}
        </div>
        {{ form.submit(class='btn btn-primary') }}

        
    </form>
</div>
{%endblock%}